.icons-container {
  display: none;
}

.heart, .play, .dots {
  filter: invert(1);
  cursor: pointer;
}

.heart, .dots {
  width: 30px;
}

.play {
  width: 60px;
}

.play:hover {
  transform: scale(1.3);
  transition: all .1s ease-in-out;
}